.eyeHolder {
  width: 300px;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.eyeContainer {
  width: 300px;
  height: 300px;
  position: relative;
  transform: translate(0,-10%);
}

.eyeRight {
  position: absolute;
  right: 0px;
  top: 0px;
}

.eyeLeft {
  position: absolute;
  left: 0px;
  top: 0px;
}
.eye {
  margin: 20%;
  width: 25%;
  height: 25%;
  border: solid 1px #000;
  border-radius:  75% 15%;
  transform: rotate(45deg);
  background-color: white;
}

.eye:before {
  content: '';
  display: block;
  position: absolute;
  background-color: black;
  width: 30%;
  height: 30%;
  border: solid 1px #000;
  border-radius: 50%;
  left: 33%;
  top: 33%;
  transition: all 0.2s ease;
}

.moveLeft:before {
   left: 0%;
   top: 68%;
}

.moveRight:before {
  left: 68%;
  top: 0%;
}

.moveUp:before {
  left: 18%;
  top: 18%;
}

.moveDown:before {
  left: 50%;
  top: 50%;
}

.relax {
  border-radius: 300% 36%;
}