.pauseButtonContainer {
   width: 100px;
   height: 40px;
   border: solid var(--text-primary) 1px;
   text-align: center;
   position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.3s;
 }

.pauseButtonContainer:hover {
  border: solid var(--text-primary) 2px;
}

.play {

}

.pauseButtonContainer > .icon {
    color: var(--text-primary);
    font-size: 25px;
    height: 100%;
    transition: color 0.3s;
}
.pauseButton{
  text-align-all: center;
}
.pause {
  margin: auto;
  width: 0;
  height: 30px;
  border-color: var(--text-secondary);
  border-style: double;
  border-width: 0px 0px 0px 25px;
  transition: border-color 0.3s;
}

.play {
  margin: auto;
  width: 0;
  height: 50%;
  border-style: solid;
  box-sizing: border-box;
  border-width: 15px 0px 15px 25px;
  border-color: transparent transparent transparent var(--text-primary);
  transition: border-color 0.3s;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
